@using WebBanSach.Models;
@model List<ChuDe>
@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
var item in Model)
{
    <a href="@Url.Action("SachTheoChuDe",new {MaChuDe=item.MaChuDe})" class="button button-submit">@item.TenChuDe</a>
    <br />
    <br />
}

