
@{
    ViewBag.Title = "BaoMat";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@section NoiDungBenPhai{

    <div>
        <h3>Dịch Vụ</h3>
        <ul>
            <li>
                <a href="/DichVu/Index">Điều khoản Sử Dụng</a>
            </li>
            <li>
                <a href="/DichVu/BaoMat">Chính Sách Bảo Mật</a>
            </li>
        </ul>
    </div>
    <div style="margin-left:40%;margin-top:-11%   ">
        <h3>Hỗ Trợ</h3>
        <ul style="margin-left:-40px">
            <li>
                <a href="/DichVu/HoTro">Chính sách đổi - trả - hoàn tiền</a>
            </li>
            <li>
                <a href="/DichVu/VanChuyen">Phương thức vận chuyển</a>
            </li>
        </ul>

    </div>
}

<br />
<h3 style="margin-left:15px">CHÍNH SÁCH BẢO MẬT</h3>
<hr />
<div style="font-size:17px;margin-left:30px;margin-right:30px">
    <p style="text-align: justify;">
        I. Thông tin bảo mật.
    </p>
    <p style="text-align: justify;">
        Bảo mật thông tin khách hàng là một trong những ưu tiên hàng đầu nhằm tạo điều kiện mua sắm tốt nhất cho quý khách tại FAHASA. Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của Shop Bán Sách dành cho quí khách. Vì thế, Shop Bán Sách cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng và tạo môi trường mua sắm an tòan, tiện lợi tại FAHASA. Cụ thể, thông tin cá nhân của quý khách chỉ dùng với các mục đích sau:
    </p>
    <p style="text-align: justify;">
        1. Số điện thoại và địa chỉ Email của quý khách được dùng nhằm nâng cao chất lượng dịch vụ hỗ trợ khách hàng.
    </p>
    <p style="text-align: justify;">
        2. Địa chỉ của quý khách chỉ được dùng để Shop Bán Sách thực thiện việc giao hàng mà quý khách đã đặt trên website Fahasa.com.
    </p>
    <p style="text-align: justify;">
        3. Hành vị mua hàng của quý khách chỉ giúp Shop Bán Sách tạo một trải nghiệm mua sắm tốt hơn cho quý khách.
    </p>
    <p style="font-size: medium;">
        II. Shop Bán Sách cam kết bảo vệ thông tin của khách hàng
    </p>
    <p style="text-align: justify;">
        . Shop Bán Sách cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của quý khách vì bất cứ mục đích gì. Tất cả thông tin giao dịch giữa quý khách và Shop Bán Sách sẽ được bảo mật qua phần mềm Secure Sockets Layer (SSL) bằng cách mã hóa tất cả thông tin quý khách nhập vào.
        <br />
        . Shop Bán Sách cam kết không lưu lại bất kỳ thông tin tài khoản ngân hàng, thông tin thẻ tín dụng và thông tin tài chính của quý khách.
    </p>
    <p style="text-align: justify;">
        III. Trách nhiệm của khách hàng.
    </p>
    <p style="text-align: justify;">
        Quý khách không nên trao đổi những thông tin tài khoản, thanh toán, giao nhận của mình cho 1 bên thứ 3 nào khác để tránh rò rỉ thông tin. Khi sử dụng chung máy tính với nhiều người, vui lòng thoát khỏi tài khoản mỗi khi không sử dụng dịch vụ của Shop Bán Sách nữa để tự bảo vệ thông tin về mật khẩu truy cập của mình.
        <br />
        Ngoài ra, quý khách tuyệt đối không được sử dụng bất kỳ hình thức nào để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Chúng tôi nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết. Mọi thông tin của quí khách tại Shop Bán Sách sẽ được chúng tôi bảo mật nhưng trong trường hợp pháp luật yêu cầu, chúng tôi buộc phải cung cấp thông tin này cho cơ quan pháp luật
    </p>
    <p style="text-align: justify;">
        IV. Thông tin bảo mật với tài khoản liên kết với bên thứ 3 (Facebook).
    </p>
    <p style="text-align: justify;">
        Shop Bán Sách sẽ liên kết với tài khoản bên thứ 3 của bạn và sử dụng thông tin id của bên thứ 3 (facebook id) hoặc tài khoản email (nếu khách hàng cho phép) để tự động tạo tài khoản cho khách hàng
        <br />
        Shop Bán Sách sẽ liên kết với tài khoản bên thứ 3 của bạn để giúp Shop Bán Sách xác định được thông tin khách hàng là ai để hỗ trợ việc định danh người dùng
        <br />
        Khách hàng có thể xóa thông tin email và id của bên thứ 3 (facebook id) bằng cách thay đổi email trong mục tài khoản Shop Bán Sách thì hệ thống Shop Bán Sách sẽ không lưu lại email của bên thứ 3
        <br />
        <br />
        Shop Bán Sách hiểu rằng quyền lợi của quý khách trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của Fahasa, nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của FAHASA, vui lòng liên hệ:
        <br />
        <br />
        Tel: 1900636467
        <br />
        Email: info@ShopBanSach.com
    </p>
</div>

