
@{
    ViewBag.Title = "HoTro";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@section NoiDungBenPhai{

    <div>
        <h3>Dịch Vụ</h3>
        <ul>
            <li>
                <a href="/DichVu/Index">Điều khoản Sử Dụng</a>
            </li>
            <li>
                <a href="/DichVu/VanChuyen">Chính Sách Bảo Mật</a>
            </li>
        </ul>
    </div>
    <div style="margin-left:40%;margin-top:-11%   ">
        <h3>Hỗ Trợ</h3>
        <ul style="margin-left:-40px">
            <li>
                <a href="/DichVu/HoTro">Chính sách đổi - trả - hoàn tiền</a>
            </li>
            <li>
                <a href="/DichVu/BaoMat">Phương thức vận chuyển</a>
            </li>
        </ul>

    </div>
}
<br />
<h3 style="margin-left:15px">CHÍNH SÁCH ĐỔI / TRẢ / HOÀN TIỀN</h3>
<hr />
<div style="font-size:17px;margin-left:30px;margin-right:30px">
    <p style="text-align: justify;">
        Chúng tôi luôn trân trọng sự tin tưởng và ủng hộ của khách hàng khi đặt mua sản phẩm tại ShopBanSach.com. Do đó chúng tôi luôn cố gắng hoàn thiện dịch vụ tốt nhất phục vụ mọi nhu cầu mua sắm của quý khách.
        <br />
        <br />

        ShopBanSach.com chúng tôi luôn luôn cam kết tất cả các sản phẩm bán tại ShopBanSach.com 100% là những sản phẩm chất lượng và xuất xứ nguồn gốc rõ ràng, hợp pháp cũng như an toàn cho người tiêu dùng.
        <br />
        <br />


        Để việc mua sắm của quý khách tại ShopBanSach.com là trải nghiệm dịch vụ thân thiện, chúng tôi hy vọng quý khách lúc nhận hàng kiểm tra kỹ lại:
        <br />

        - Số lượng.
        <br />
        - Tên sản phẩm và chất lượng sản phẩm.
        <br />


        - Thông tin sản phẩm, thông tin người nhận (Đối chiếu với thông tin trên phiếu giao hàng được bỏ trong hộp) trong lúc nhận hàng trước khi ký nhận và thanh toán tiền cho nhân viên giao nhận.
        <br />



        Tuy nhiên để quý khách yên tâm hơn trong việc mua sắm và trải nghiệm dịch vụ của ShopBanSach.com, chúng tôi xây dựng chính sách đổi/ trả/ hoàn tiền trên tinh thần bảo vệ quyền lợi người tiêu dùng nhằm cam kết với quý khách về chất lượng sản phẩm và dịch vụ của chúng tôi.
        <br />

        Khi quý khách hàng có hàng hóa mua tại ShopBanSach.com cần đổi/ trả, xin quý khách hàng liên hệ với chúng tôi qua hotline 1900-636467 hoặc truy cập ShopBanSach.com/doi-tra-hang để tìm hiểu thêm về chính sách đổi/trả:
    </p>
    <strong style="color: #000000;">Lưu ý: Các sản phẩm thuộc "Phiên chợ sách cũ" sẽ không được áp dụng chính sách đổi trả của ShopBanSach.com</strong>
    <br />
    <br />
    <p style="text-align: justify;">
        1. Thời gian giải quyết đổi trả:

    </p>
    <p style="text-align: justify;">
        <a style="margin-left:9%"><img src="~/HinhAnh/a.jpg" /></a>
    </p>

    <p style="color: #000000;">2. Điều kiện đổi trả:</p>
    <p style="text-align: justify;">
        ShopBanSach.com hỗ trợ đổi/ trả sản phẩm cho quý khách nếu:
        <br />
        - Sản phẩm còn nguyên bao bì như hiện trạng ban đầu.
        <br />
        - Sản phầm còn đầy đủ phụ kiện, quà tặng khuyến mãi kèm theo.
        <br />
        - Hóa đơn GTGT ( nếu có)
    </p>
    <p style="text-align: justify;">
        3. Chính sách đổi trả
    </p>
    <p style="text-align: justify;">
        Tất cả các đơn hàng đổi trả cần được chụp hình và gửi email về info@ShopBanSach.com với tiêu đề “Đổi Trả Đơn Hàng #100xxx”:
        <br />
        - Chụp hình về tình trạng sản phẩm, nêu rõ lỗi kỹ thuật nếu có.
        <br />
        - Chụp hình về tình trạng bao bì, chú ý các điểm như:
        <br />
        + Sách có được bọc màng co hay không?
        <br />
        + Hộp có được chèn lót giấy vụn để bảo vệ khi vận chuyển hay không?
        <br />
        + Hộp bị ướt …?
    </p>
    <p style="text-align: justify;">
        4. Cách thức chuyển sản phẩm đổi trả về ShopBanSach.com
    </p>
    <p style="text-align: justify;">
        - Khi yêu cầu đổi trả được giải quyết, quý khách vui lòng đóng gói sản phẩm như hiện trạng khi nhận hàng ban đầu (bao gồm sản phẩm, quà tặng, phụ kiện kèm theo sản phẩm,…nếu có).
        <br />
        + Hóa đơn giá trị gia tăng của ShopBanSach.com
        <br />
        + Phụ kiện đi kèm sản phẩm và quà tặng khuyến mãi kèm theo (nếu có)
        <br />
        - Lưu ý: Quý khách vui lòng chịu trách nhiệm về trạng thái nguyên vẹn của sản phẩm khi gửi về ShopBanSach.com.
        <br />
        + Sau khi nhận được sản phẩm quý khách gởi về, ShopBanSach.com sẽ phản hồi và cập nhật thông tin trên từng giai đoạn xử lý đến quý khách qua điện thoại / email .
        <br />
        <br />

        <strong style="color: #000000;">Nếu cần hỗ trợ thêm quý khách có thể liên hệ trực tiếp qua hotline 1900636467 để được hỗ trợ nhanh chóng.</strong>
    </p>
</div>