
@{
    ViewBag.Title = "VanChuyen";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@section NoiDungBenPhai{

    <div>
        <h3>Dịch Vụ</h3>
        <ul>
            <li>
                <a href="/DichVu/Index">Điều khoản Sử Dụng</a>
            </li>
            <li>
                <a href="/DichVu/VanChuyen">Chính Sách Bảo Mật</a>
            </li>
        </ul>
    </div>
    <div style="margin-left:40%;margin-top:-11%   ">
        <h3>Hỗ Trợ</h3>
        <ul style="margin-left:-40px">
            <li>
                <a href="/DichVu/HoTro">Chính sách đổi - trả - hoàn tiền</a>
            </li>
            <li>
                <a href="/DichVu/VanChuyen">Phương thức vận chuyển</a>
            </li>
        </ul>

    </div>
}
<br />
<h3 style="margin-left:15px">THÔNG TIN ĐÓNG GÓI, VẬN CHUYỂN HÀNG</h3>
<hr />
<div style="font-size:17px;margin-left:30px;margin-right:30px">
    <p style="text-align: justify;">


        Với đa phần đơn hàng, Fahasa.com cần vài giờ làm việc để kiểm tra thông tin và đóng gói hàng. Nếu các sản phẩm đều có sẵn hàng, Fahasa.com sẽ nhanh chóng bàn giao cho đối tác vận chuyển. Nếu đơn hàng có sản phẩm sắp phát hành, Fahasa.com sẽ ưu tiên giao những sản phẩm có hàng trước cho Quý khách hàng.
        <br />
        Trong một số trường hợp, hàng nằm không có sẵn tại kho gần nhất, thời gian giao hàng có thể chậm hơn so với dự kiến do điều hàng. Các phí vận chuyển phát sinh, Fahasa.com sẽ hỗ trợ hoàn toàn.
        <br />
        Thời gian giao hàng không tính thứ 7, Chủ nhật, các ngày Lễ, Tết và không bao gồm tuyến huyện đảo xa.
        <br />
        THỜI GIAN VÀ CHI PHÍ GIAO HÀNG TẠI TỪNG KHU VỰC TRONG LÃNH THỔ VIỆT NAM:
    </p>
    <p style="text-align: justify;">1. Nội thành TP.HCM và Hà Nội</p>
    <p style="text-align: justify;">
        Thời gian: 1-2 ngày
        <br />
        Chi phí: 15.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 02.11.2021)
    </p>
    <p style="text-align: justify;">2. Các tỉnh thành khác</p>
    <p style="text-align: justify;">
        Thời gian: 2-3 ngày
        <br />
        Chi phí: 30.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 02.11.2021)
    </p>
</div>
