
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@section NoiDungBenPhai{

    <div id="DichVu" class="row">


        <h3>Dịch Vụ</h3>
        <ul>
            <li>
                <a href="/DichVu/Index">Điều khoản Sử Dụng</a>
            </li>
            <li>
                <a href="/DichVu/BaoMat">Chính Sách Bảo Mật</a>
            </li>
        </ul>


    </div>
    <div style="margin-left:40%;margin-top:-11%   ">
        <h3>Hỗ Trợ</h3>
        <ul style="margin-left:-40px">
            <li>
                <a href="/DichVu/HoTro">Chính sách đổi - trả - hoàn tiền</a>
            </li>
            <li>
                <a href="/DichVu/VanChuyen">Phương thức vận chuyển</a>
            </li>
        </ul>

    </div>
    <div>
        <img src="~/HinhAnh/b.jpg" />
    </div>
}

<div class="content">
    <hr />

    <div style="text-align: center; margin-left: 12%">

        <h2>Thông tin liên hệ</h2>
        <p>Cửa hàng bán sách và truyện tranh</p>
        <p>Địa chỉ 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</p>
    </div>
    <div style="text-align:center; margin-left:10%">
        <h2>Bản đồ</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5114745272845!2d106.67632301441304!3d10.77208306222033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f20e56250a1%3A0x58b6e49f7c4dd937!2zNDU3IMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAzLCBRdeG6rW4gMywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1637981280077!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
 

